{% assign repositories = site.github.public_repositories | where:'fork', false %}
{% if repositories.size > 0 %}
<ul>
{% for repository in repositories %}
{% if repository.homepage != '' %}
{% if repository.description %}
    {% if repository.homepage %}
        <li><a href="{{ repository.homepage }}">{{ repository.name }}</a></li>
    {% else %}
        <li><a href="{{ repository.repository_url }}">{{ repository.name }}</a></li>
    {% endif %}
{% endif %}
{% endif %}
{% endfor %}
</ul>
{% endif %}