<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="UTF-8">
{% seo %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#157878">
<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon/favicon.ico' | absolute_url }}">
<link rel="icon" type="image/png" href="{{ '/assets/favicon/favicon-32x32.png'| absolute_url }}" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ '/assets/favicon/favicon-16x16.png' | absolute_url }}" sizes="16x16"/>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url | append: '?' | append: site.github.build_revision }}" type="text/css">
{% for style in site.styles %}
<link rel="stylesheet" href="{{style}}" type="text/css">
{% endfor %}
{% if site.analytics %}<script>
(function (i, s, o, g, r, a, m) {
i['GoogleAnalyticsObject'] = r;
i[r] = i[r] || function () {
(i[r].q = i[r].q || []).push(arguments)
}, i[r].l = 1 * new Date();
a = s.createElement(o),
m = s.getElementsByTagName(o)[0];
a.async = 1;
a.src = g;
m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
ga('create', '{{ site.analytics }}', 'auto');
ga('send', 'pageview');
</script>{% endif %}</head>
<body>
{% if site.navigation == true %}
<nav class="page-nav">
    <div class="page-nav-search">
        <div class="field">
            <input type="search" class="search" placeholder="Search">
        </div>
    </div>
    <div class="page-nav-scroll">
    <div class="page-nav-menu">
        {% include navigation.html base_url='/' max_depth=4 %}
    </div>
    {% if page.table_of_contents != false %}
    {% capture table_of_contents %}{% include table_of_contents.html html=content h_min=2 %}{% endcapture %}
    {% if table_of_contents.size > 0 %}
    <div class="page-nav-menu">
        {{ table_of_contents }}
    </div>
    {% endif %}
    {% endif %}
    </div>
</nav>
<div class="page-nav-overlay" data-toggle="show-nav"></div>
{% endif %}
<main class="page-wrapper">
    <header class="page-toolbar">
        <div class="container">
            {% if site.navigation == true %}
            <a href="#" data-rel="^/menu" data-toggle="show-nav" class="page-menu-item">
                {% include icons/bars.svg %}
            </a>
            {% endif %}
            <div class="page-brand">
                <a href="{{ site.baseurl | prepend:site.url }}/" data-rel="^{{site.baseurl}}">
                    {{ site.brand | default: site.title | default: site.github.repository_name }}
                </a>
            </div>
            <nav class="page-menu">
                <a href="#" data-rel="^/menu" data-toggle="show-menu" class="page-menu-item toggle">
                    {% include icons/plus-square.svg %}
                </a>
                <ul>
                    {% for item in site.toolbar %}
                    <li class="{{ item.class }}">
                        <a class="page-menu-item" href="{{ item.link | absolute_url }}">
                            {{ item.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </header>
    <header class="page-header">
        {% assign path    = page.url | split: '/' %}
        {% assign count   = path | size %}
        <div class="container {% if count == 0 %}home{% endif %}">
            {% if count == 0 %}
            <h2 class="project-title"><a href="{{site.baseurl}}/">{{ site.title | default: site.github.repository_name }}</a></h2>
            <h3 class="project-description">{{ site.description | default: site.github.project_tagline }}</h3>
            <div class="project-buttons">
                <a href="{{ site.source_url | default: site.github.repository_url }}" class="project-button">View on GitHub</a>
                <a href="{{ site.source_url | default: site.github.repository_url | append: '/archive/master.zip' }}" class="project-button">Download .zip</a>
                <a href="{{ site.source_url | default: site.github.repository_url | append: '/archive/master.tar.gz' }}" class="project-button">Download .tar.gz</a>
            </div>
            {% endif %}
            {% include breadcrumbs.html %}
        </div>
    </header>
    <section class="page-content">
        {% if page.fluid %}
            {{ content }}
        {% else %}
        <div class="container">
            {{ content }}
        </div>
        {% endif %}
    </section>
    <footer class="page-footer">
        <div class="container">
            <div class="page-copyright">
                Copyright &copy; <a href="{{site.url}}">{{site.title}}</a> {{ site.time | date: '%Y' }}.
                Website developed by <a href="{{site.author.url | default: site.github.owner_url }}" target="_blank"
                                        rel="author">
                {{site.author.name | default: site.github.owner_name }}
            </a>.
            </div>
        </div>
    </footer>
</main>
<script async="true" src="{{ '/assets/js/main.js' | absolute_url | append: '?' | append: site.github.build_revision  }}"></script>
{% for script in site.javascript %}
<script async="true" src="{{script | absolute_url }}"></script>
{% endfor %}
</body>
</html>